#### Q-9. A cyber security agent wants to check the Microsoft Malware so need he came to you as a Machine learning Engineering with Data, You need to find the Malware using a supervised algorithm and you need to find the accuracy of the model. Dataset This is the Dataset You can use this dataset for this question.

In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("sample_submission.csv")
df.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e            0.5
1  00000176ac758d54827acd545b6315a5            0.5
2  0000019dcefc128c2d4387c1273dae1d            0.5
3  0000055553dc51b1295785415f1a224d            0.5
4  00000574cefffeca83ec8adf9285b2bf            0.5

In [4]:
df.tail()

                        MachineIdentifier  HasDetections
7853248  fffff8c0e065c468a2373f7afd5e7674            0.5
7853249  fffff90b27a1248b6fffc7a535bd736c            0.5
7853250  fffffa6a956c17ddbabca53d4ab708ae            0.5
7853251  fffffad7b6c8196ec5cae634406c0d4f            0.5
7853252  fffffbd305a90eb0f93ee4f30a39c736            0.5

In [5]:
df.shape

(7853253, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7853253 entries, 0 to 7853252
Data columns (total 2 columns):
 #   Column             Dtype
---  ------             -----
 0   MachineIdentifier  object
 1   HasDetections      float64
dtypes: float64(1), object(1)
memory usage: 119.8+ MB

In [7]:
df.isnull().sum()

MachineIdentifier    0
HasDetections        0
dtype: int64

In [8]:
df_without_na = df.dropna()

In [9]:
df_without_na = df_without_na.drop_duplicates()

In [10]:
df_without_na.shape

(7853253, 2)

In [11]:
df = df_without_na.copy()

In [12]:
good_cols = list(df.columns)
for col in df.columns:
    rate = df[col].value_counts(normalize=True, dropna=False).values[0]
    if rate > 0.7:
        good_cols.remove(col)
train = df[good_cols]