##### Advance
#### Q-1. A Social Media Influencer collected data on Facebook friend requests and used a supervised algorithm to predict whether a user would accept a friend request or not. Dataset This is the Dataset You can use this dataset for this question. Note : Use only Dask and Use MLflow

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
# Specify the file path of the gzipped file
file_path = r'train.gz'

# Read the gzipped file into a DataFrame
df = pd.read_csv(file_path, compression='gzip',nrows=10000)

In [5]:
df.head()

   source_node  destination_node
0            1            690569
1            1            315892
2            1            189226
3            2            834328
4            2           1615927

In [6]:
df

      source_node  destination_node
0               1            690569
1               1            315892
2               1            189226
3               2            834328
4               2           1615927
...           ...               ...
9995         1817           1448531
9996         1817            340718
9997         1817           1116708
9998         1817           1042988
9999         1817           1817204

[10000 rows x 2 columns]

In [8]:
selected_columns = ['hour', 'C1', 'banner_pos', 'site_category', 'device_type', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']
X = df[selected_columns]

KeyError: "None of [Index(['hour', 'C1', 'banner_pos', 'site_category', 'device_type', 'C14',\n       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21'],\n      dtype='object')] are in the [columns]"